/* CSS Document */

*, *:before, *:after {box-sizing: inherit;}

html {box-sizing: border-box;
height: 100%;}

body {background-color: #F0F0F0;
color: #041205;
margin: 0px;
padding: 0px;
font-family: century gothic, verdana, arial, sans-serif;
height: 100%;}

a:link, a:visited {color: #51A66E;
text-decoration: none;
transition: 0.25s;}

a:hover, a:active {color: #2EB532;
transition: 0.25s ease;}

#container {width: 100%;
height: 100%;}

header {background-image: url("./Assets/Images/Header.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: left top;}

header ul {list-style: none;
margin: 0px;
padding: 0px;}

header ul li {display: inline-block;}

#lang {text-align: right;
font-size: .9em;
color: #041205;
padding: 5px 5px 0 0;
font-family: times, times new roman, serif;}

#lang img {width: 17px;
height: 10px}

.langIcon {width: 17px;
height: 11px;
display: inline-block;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;}

.RU {background-image: url("./Assets/Graphics/RuFlag.jpg");}

.EN {background-image: url("./Assets/Graphics/UsFlag.jpg");}

#lang a:link, #lang a:visited {color: #041205;}

#topNav {position: fixed;
background-color: rgba(240,240,240,0.82);
font-size: 2em;
margin-left: 15px;
margin-top: -5px;
padding-top: 5px;
padding-bottom: 5px;
border-bottom: 2px #2EB532 solid;}

#topNav ul li {padding-right: 8px;
padding-left: 7px;}

#topNav ul li:first-child {padding-left: 15px;}

#topNav ul li:last-child {padding-right: 15px;}

#topNav ul li:after {content: '';
display: block;
border-bottom: solid 2px #2EB532;
transform: scaleX(0);
transition: transform 500ms ease;
transform-origin: right;}

#topNav ul li:hover:after {transform: scaleX(1);
transform-origin: left;}

#mobNav {display: none;}

.sidenav {display: none;
position: fixed;
left: 0;
top: 0;
z-index: 1;
height: 100%;
width: 0;
background-color: #041205;
overflow-x: hidden;
padding-top: 15px;
transition: 0.2s;
color: #F0F0F0;}

.sidenav ul li a {font-size: 2em;
padding-bottom: 12px;
padding-top: 12px;
text-decoration: none;
display: block;
transition: 0.4s;
text-align: center;
color: #F0F0F0;}

.sidenav ul li:after {content: '';
display: block;
border-bottom: solid 2px #2EB532;
transform: scaleX(0);
transition: transform 500ms ease;
transform-origin: right;}

.sidenav ul li:hover:after {transform: scaleX(1);
transform-origin: left;}

.sidenav ul li {display: block;}

.sidenav ul {position: absolute;
top: 25%;
left: 20%;}

.sidenav .closebtn {position: absolute;
top: 0;
left: 0;
padding: 6px 30px 30px 10px;
font-size: 2em;
cursor: pointer;
color: rgba(240,240,240,1.00);}

#mobLang {margin-bottom: 20px;
display: flex;
position: absolute;
top: 0;
right: 0;}

#mobLang a {text-align: center;
padding: 8px 10px 10px 10px;}

#logo {text-align: right;
margin-right: 10px;}

#logo img {width: 400px;
height: 128px;
transition: 0.3s ease;
margin-top: 10px;}

#logo h1 {margin: 0 35px 0 0;
font-size: 2.35em;
transition: 0.3s ease;
font-weight: normal;}

#logo h1 span {text-align: center;}

#hText {margin-left: 30px;
margin-top: 30px;
padding: 5px 30px 30px 30px;
background-color: rgba(255,255,255,0.4);
width: 70%;}

#hText h2 {font-size: 2.5em;}

#hText p {font-size: 1.3em;
width: 75%;}

main {height: 99%;}

@media screen and (max-width: 1280px){
	#topNav {font-size: 1.5em;}
	#logo h1 {font-size: 1.8em;
	margin: 0 20px 0 0;
	font-weight: bold;}
	#logo img {width: 300px;
	height: 96px;}
	#hText {width: 70%}
	#hText h2 {font-size: 2em;}
	#hText p {font-size: 1.2em;
	width: 100%;}
}

@media screen and (max-width: 900px){
	#logo img {margin-top: 20px;}
	#lang {display: none;}
	.langIcon {display: block;
	width: 35px;
	height: 20px;
	margin-bottom: 5px;}
	.sidenav {display: block;}
	#topNav {display: none;}
	#mobNav {display: block;
	font-size: 2em;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px 30px 30px 10px;
	text-shadow: 1px 1px rgba(0,0,0,0.5);
	color: #51A66E;
	cursor: pointer;}
	#hText {width: 70%;}
	#hText h2 {font-size: 1.5em;}
}

@media screen and (max-width: 768px){
	#logo img {width: 200px;
	height: 64px;}
	#logo h1 {font-size: 1.2em;
	margin: 0 15px 0 0;}
	#hText {margin: 0 auto;
	margin-top: 30px;
	width: 100%;}
	#hText h2 {text-align: center;}
	#hText p {text-align: center;}
}

@media screen and (max-height: 450px){
	.sidenav ul li a {font-size: 1.4em;}
	.sidenav ul {left: 27.5%;}
}