/* CSS Document */

*, *:before, *:after {box-sizing: inherit;}

html {box-sizing: border-box;
height: 100%;
scroll-behavior: smooth;}

body {background-color: #F0F0F0;
color: #041205;
margin: 0px;
padding: 0px;
font-family: century gothic, verdana, arial, sans-serif;
height: 100%;
-ms-overflow-style: none;}

body::-webkit-scrollbar {
	display: none;}

a:link, a:visited {color: #51A66E;
text-decoration: none;
transition: 0.25s;}

a:hover, a:active {color: #2EB532;
transition: 0.25s ease;}

#container {width: 100%;
height: 100%;}

header {background-image: url("./Assets/Images/Header.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: left top;}

header ul {list-style: none;
margin: 0px;
padding: 0px;}

header ul li {display: inline-block;}

.langIcon {width: 1.15em;
height: 0.75em;
display: inline-block;
background-repeat: no-repeat;
background-size: cover;
background-position: leftcenter;}

.RU {background-image: url("./Assets/Graphics/RuFlag.jpg");}

.EN {background-image: url("./Assets/Graphics/UsFlag.jpg");}

.lang {position: relative;
display: inline-block;}

.langContent {display: none;
position: absolute;
padding: 5px 0px 4px 0px;
width: 4em;
right: 0;
background-color: rgba(240,240,240,0.9);
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;}

.lang:hover .langContent {display: block;}

#topNav {position: fixed;
z-index: 2;
background-color: rgba(240,240,240,0.95);
font-size: 2em;
margin-left: 15px;
margin-top: 10px;
padding-top: 5px;
padding-bottom: 5px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
border-radius: 3px;}

#topNav ul li {padding-right: 8px;
padding-left: 7px;}

#topNav ul li:first-child {padding-left: 10px;}

#topNav ul li:after {content: '';
display: block;
border-bottom: solid 2px #2EB532;
transform: scaleX(0);
transition: transform 500ms ease;
transform-origin: right;}

#topNav .fas {font-size: .85em;}

#topNav ul li:hover:after {transform: scaleX(1);
transform-origin: left;}

#mobNav {display: none;}

.sidenav {display: none;
position: fixed;
left: 0;
top: 0;
z-index: 1;
height: 100%;
width: 0;
background-color: rgba(240,240,240,0.98);
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
overflow-x: hidden;
padding-top: 15px;
transition: 0.2s;
color: #51A66E;}

.sidenav ul li a {font-size: 2em;
padding-bottom: 12px;
padding-top: 12px;
text-decoration: none;
display: block;
transition: 0.4s;
color: #51A66E;}

.sidenav ul li a:hover {color: #2EB532;
transition: 0.25s ease;}

.sidenav ul {position: absolute;
top: 24%;
left: 30px;}

.sidenav ul li .fas {font-size: .85em;}

.sidenav .closebtn {position: absolute;
top: 0;
left: 0;
padding: 6px 30px 30px 10px;
font-size: 2em;
cursor: pointer;
color: #51A66E;
text-shadow: -1px 2px 3px rgba(0,0,0,0.2);}

.sidenav .closebtn:hover {color: #2EB532;
transition: 0.25s ease;}

#curtain {width: 100%;
height: 100%;
position: fixed;
left: 250px;
z-index: 1;
background-color: rgba(0,0,0,0.0);
transition: 0.4s;
display: none;}

#mobLang {margin-bottom: 20px;
display: flex;
position: absolute;
top: 0;
right: 0;
font-weight: bold;}

#mobLang a {text-align: center;
padding: 8px 10px 10px 10px;}

#logo {text-align: right;
margin-right: 10px;}

#logo img {width: 400px;
height: 128px;
transition: 0.3s ease;
margin-top: 20px;}

#logo h1 {margin: 0 35px 0 0;
font-size: 2.35em;
transition: 0.3s ease;
font-weight: normal;}

#hText {margin: 0 auto;
margin-top: 30px;
width: 80%;
padding: 5px 30px 30px 30px;
background-color: rgba(240,240,240,0.65);
border-radius: 3px 3px 0px 0px;
box-shadow: 0px -10px 50px 0px rgba(0,0,0,0.05);}

#hText h2 {font-size: 2.5em;}

#hText p {font-size: 1.3em;
width: 75%;}

#about {width: 80%;
margin: auto;}

#aboutIntro {margin-bottom: 50px;}

#aboutIntro h1 {font-size: 2.3em;}

#aboutIntro p {font-size: 1.4em;}

#aboutContainter {display: flex;
flex-wrap: wrap;
margin: auto;
justify-content: space-around;}

.aboutContent {flex-basis: 33%;
display: flex;
justify-content: center;}

.aboutContentText {margin:0px 0px 0px 20px;}

.aboutContent img {border-radius: 50%;
width: 175px;
height: 175px;}

.aboutContentText h2 {margin-top: 0px;
font-size: 1.75em;}

.aboutContentText p {font-size: 1.2em;}

@media screen and (max-width: 1670px){
	.aboutContent {margin-bottom: 20px;}
	.aboutContentText {width: 330px;}
	.aboutContent img {height: 160px;
	width: 160px;}
}

@media screen and (max-width: 1280px){
	.langContent {width: 4.2em;}
	#topNav {font-size: 1.5em;}
	#logo h1 {font-size: 1.8em;
	margin: 0 20px 0 0;
	font-weight: bold;}
	#logo img {width: 300px;
	height: 96px;}
	#hText {width: 70%}
	#hText h2 {font-size: 2em;}
	#hText p {font-size: 1.2em;
	width: 100%;}
	#about {width: 95%;}
	#aboutIntro h1 {font-size: 2em;}
	#aboutIntro p {font-size: 1.2em;}
	.aboutContentText {width: 300px;}
	.aboutContent img {height: 140px;
	width: 140px;}
}

@media screen and (max-width: 992px){
	.langIcon {display: block;
	width: 35px;
	height: 20px;
	margin-bottom: 5px;}
	.sidenav {display: block;}
	#topNav {display: none;}
	#mobNav {display: block;
	font-size: 2em;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px 30px 30px 10px;
	text-shadow: -1px 2px 3px rgba(0,0,0,0.2);
	color: #51A66E;
	cursor: pointer;}
	#hText h2 {font-size: 1.5em;
	text-align: center;}
	#hText p {text-align: center;}
	.aboutContent {flex: 1;
	flex-basis: 100%;}
	.aboutContentText {width: 100%;}
}
	
@media screen and (max-width: 768px){
	#logo img {width: 200px;
	height: 64px;}
	#logo h1 {font-size: 1.2em;
	margin: 0 15px 0 0;}
	#hText {width: 100%;
	border-radius: 0px;}
	.aboutContentText h2 {font-size: 1.4em;}
	.aboutContentText p {font-size: 1em;}
}

@media screen and (max-height: 450px){
	.sidenav ul li a {font-size: 1.6em;}
	.sidenav ul {left: 40px;
	top: 17%}
}